@media (max-width: 768px) {
    .species {
        flex-direction: column;
        align-items: center;  /* Ensure elements are centered */
    }
}
@media (max-width: 768px) {
    .gws-container {
        flex-direction: column; /* Stack content on smaller screens */
        align-items: center;    /* Center the content */
    }
}

