@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {  /*color template sharkDark palette*/
    --primary-blue: #124559;
    --light-blue: #598392;
    --sage-green:#aec3b0;
    --background-color: #dad8d8;
    --white: #FFFFFF;
    --text-color: #01161e;

         /*font information and default*/
    --font-family: 'Afacad Flux', sans-serif;
  }

header {
    background-color:var(--background-color);
}

/*Style for the Nav Container in the Header*/
.nav {
    color: var(--primary-blue);
    display: flex;
}
nav ul {
    margin-top: 15px;
    list-style-type: none;
    display: flex;
    justify-content: flex-end; /*Right align the ENTIRE navbar*/
}
nav li {
    margin: 0 15px;
}
nav a {
    color: var(--primary-blue);
    text-decoration: none;
    font-weight: bold;
    text-align: right;
}
nav a:hover {
    text-decoration: underline;
    color:var(--white);
}

/*------------------------Home--------------------------*/

body {
    font-family: 'Afacad Flux', sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    margin: 0;
    padding: 20px;
}

/* Style for the "HeroSharkSafety" section */
.sharksafety {
    display: flex;
    justify-content: space-between; 
    gap: 20px;
    flex-wrap: wrap;
    margin: 20px;
}
.sharksafety .text {
    background-color: var(--primary-blue);
    color:var(--white);
    padding: 30px;
    box-sizing: border-box; 
    flex: 1; 
    min-width: 250px; 
    display: flex; 
    flex-direction: column;
}
.sharksafety h1 {
    font-size: 37px;
    margin-top: 10px;
    margin-bottom: 10px; 
}
.sharksafety .heroimage {
    width: 100%;
    height: auto;
    max-width: 600px;
    text-align: center;
    flex: 2;   
    margin-top: 5px;
}

/* Style for the "DangerousSpecies" section */
.dangerousspecies {
    text-align: center;
    background-color: var(--white);
    border-radius: 5px;
    margin-bottom: 15px;
    padding: 15px;
}
.dangerousspecies h2 {
    font-size: 36px;
    margin-top: 25px;
    margin-bottom: 10px;
}
figure {
    display: inline-block;
    margin: 30px;           
    text-align: center;     
}
figure img {
    width: 100%;            
    max-width: 400px;       
    height: auto;
    border-radius: 8px;
}
figcaption {
    font-size: 16px;
    font-weight: 600;
    color: var(--text-color);
    margin-top: 10px;       
    display: block;        
}
figcaption span {
    display: block;
    margin-top: 10px;
}

/* Style for the "SharkStories"" section */
.sharkstories {
    display: flex;
    flex-direction: column;  /* Stack the content vertically */
    background-color: var(--sage-green);
    border-radius: 5px;
    align-items: center;     /* Center the items horizontally */
    gap: 20px;
    padding: 20px;
}
.sharkstories h3 {
    color: var(--primary-blue);
    font-size: 36px;
    margin-top: 15px;
    margin-bottom: 5px;
}
.sharkstories p {
    font-size: 18px;
    color: var(--primary-blue);
    text-align: center;
}
.social {
    display: flex;
    gap: 40px; 
    justify-content: center;
    align-items: center; 
}
.logo {
    width: 40px;         
    height: auto;
}

/* Style for the "Why" and "Questions" sections */
.why-questions-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; 
    gap: 20px; 
}
.why {
    background-color: var(--light-blue);
    color: var(--white);
    padding: 20px;
    border-radius: 5px;
    list-style-type: none;
    width: 48%; 
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 18px;
}
.questions {
    width: 48%; 
    background-color: var(--white);
    color: var(--text-color);
    padding: 20px;
    border-radius: 5px;
    margin-top: 15px;
    margin-bottom: 15px;
    max-height: 300px;
}

.why h4, .questions h6 {
    margin-top: 10px;
    margin-bottom: 0px;
    text-align: center;
    font-size: 36px;
}

.questions form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; /* Align form elements to the start of the container */
    gap: 5px;
}

.questions input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    margin-bottom: 3px; /* Reduce the space between input fields and button */
}

.questions button {
    padding: 10px; /* Increased padding for button */
    font-size: 14px;
    background-color: var(--light-blue);
    color: var(--white);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    margin-top: 5px; /* Slightly reduce space between input fields and button */
}

.questions button:hover {
    background-color: var(--primary-blue);
}


/*------------------------Dangerous-Species--------------------------*/

.species {
    display: flex;
    justify-content: space-between;    
    gap: 10px;
    flex-wrap: wrap;
    margin: 20px;
}
.species-header {
    margin-bottom: 10px;
    background-color: var(--primary-blue);
    color:var(--white);
    padding: 20px;
    box-sizing: border-box; 
    flex: 1;              
    min-width: 250px; 
    display: flex;         
    flex-direction: column;
}
.species-header h1 {
    font-size: 27px;
}
.species-image {
    display: flex;
    flex: 2;
    justify-content: center;
}
.greatwhites, .tigers, .bullsharks {
    padding: 15px;
    background-color: var(--white);
    color: var(--text-color);
    border-radius: 8px;
    margin-bottom: 15px;
}

/* Style for the "Great White" section */
.greatwhites h2 {
    font-size: 36px;
    width: 100%;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
    color: var(--primary-blue);
}
.gws-container {
    display: flex;          
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
}
.gws-facts {
    background-color: var(--sage-green);
    border-radius: 5px;
    padding: 20px;
    display: flex;  
    flex-direction: column;
    gap: 5px;  
    text-align: left; 
    font-size: 16px;
    width: 50%; /* Ensures the facts section takes up half the space */
}
.gws-facts ul {
    list-style-type: none;
    padding-left: 0;
}
.gws-container img {
    flex: 2;
    width: 50%; /* Adjust the map size */
    height: auto;
}
.gws-habitat {
    background-color: var(--background-color);
    border-radius: 5px;
    margin-top: 10px; 
    padding: 20px;
}

/* Style for the "Tiger" section */
.tigers h3 {
    font-size: 36px;
    width: 100%;
    text-align: center;
    color: var(--primary-blue);
    margin-top: 15px;
    margin-bottom: 15px;
}
.ts-container {
    display: flex; /* Enables flex layout to display content side by side */
    justify-content: space-between; /* Ensures space between facts and image */
    align-items: flex-start; /* Align items at the top */
    gap: 20px; /* Adds space between the two elements */
}
.tigers-facts {
    background-color: var(--sage-green); /* Background for facts section */
    border-radius: 5px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: left;
    font-size: 16px;
    width: 63%;
}
.tigers-facts ul {
    list-style-type: none;
    padding-left: 0;
}
.ts-img {
    width: 35%;
    height: auto;
    flex-shrink: 0;
    margin-bottom: 5px;
}
.ts-habitat {
    background-color: var(--background-color);
    border-radius: 5px;
    margin-top: 10px; 
    padding: 20px;
}

/* Style for the "Bull" section */
.bullsharks h4 {
    font-size: 36px;
    width: 100%;
    text-align: center;
    color: var(--primary-blue);
    margin-top: 15px;
    margin-bottom: 15px;
}
.bs-gfacts {
    background-color: var(--sage-green);
    border-radius: 5px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    text-align: left;
    font-size: 16px;
}
.bs-gfacts ul {
    list-style-type: none;
    padding-left: 0;
}
.bs-habitat-container {
    display: flex; 
    justify-content: space-between; 
    align-items: flex-start;
    gap: 20px; 
    margin-top: 20px; 
}
.bs-habitat {
    width: 50%;
    font-size: 16px;
    line-height: 1.6;
    background-color: var(--background-color);
    padding: 20px;
    border-radius: 5px;
}
.bs-map-img {
    width: 50%;
    height: auto;
    flex-shrink: 0; /* Prevent the map from shrinking */
}

/* Style for the "Encounter and References" sections */
.encounter-references-container {
    display: flex;
    justify-content: space-between;
    gap: 20px; 
}
.encounter {
    background-color: var(--light-blue);
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 15px;
    color: var(--white);
    width: 48%; 
}
.encounter h5 {
    font-size: 27px;
    text-align: center;
    color: var(--white);
    margin-top: 10px;
    margin-bottom: 10px;
}
.references {
    background-color: var(--white);
    color: var(--primary-blue);
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 15px;
    width: 48%;
    display: flex; 
    flex-direction: column; 
    gap: 20px; 
}
.references h6 {
    color: var(--primary-blue);
    font-size: 27px; 
    margin-top: 10px;
    margin-bottom: 15px;
    text-align: center;
    width: 100%; 
    display: block; 
}
.references .content {
    display: flex;      
    gap: 20px;     
}
.references ul {
    margin-top: 15px;
    margin-bottom: 15px;
    width: 60%; 
}
.references .image-container {
    display: flex;  
    justify-content: flex-end; 
    flex-shrink: 0; 
}
.references img {
    width: 250px;  
    height: auto; 
}
.references a {
    color: var(--primary-blue);
    text-decoration: none;
    font-weight: bold;
}
.references a:hover {
    text-decoration: underline;
}

/*------------------------Shark-Stories--------------------------*/
.storieh {
    background-color: var(--primary-blue);
    padding: 20px;
    margin-bottom: 10px;
}
.storieh h1 {
    font-size: 37px;
    color: var(--white);
}
.content {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    background-color: var(--sage-green);
    border-radius: 5px;
    padding: 20px;
    gap: 20px; 
    margin-bottom: 10px;
}
.content h2 {
    font-size: 27px; 
    color: var(--text-color);
    width: 100%;
}
.content p {
    font-size: 16px;       
    color: var(--text-color);     
    text-align: justify;       
}
.image-container {
    flex-shrink: 0;             
    width: 300px;        
    display: flex;             
    justify-content: center;
}
.image-container img {
    width: 100%;          
    height: auto;  
    border-radius: 8px;       
}
.subscription-form-container {
    background-color: var(--white);
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
}
.input-group {
    margin-bottom: 10px;
    text-align: left;
}
input[type="text"],
input[type="email"] {
    width: 95%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

button {
    background-color: var(--light-blue);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: var(--primary-blue);
}





footer {
    background-color:var(--primary-blue);
    color:var(--white);
    padding: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
}
footer a {
    color: var(--white);
}
