@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {  /*color template sharkDark palette*/
    --primary-blue: #124559;
    --light-blue: #598392;
    --sage-green:#aec3b0;
    --background-color: #dad8d8;
    --white: #FFFFFF;
    --text-color: #01161e;

         /*font information and default*/
    --font-family: 'Afacad Flux', sans-serif;
  }

header {
    background-color:var(--background-color);
}

/*Style for the Nav Container in the Header*/
.nav {
    color: var(--primary-blue);
    display: flex;
}
/*Style for the list*/
nav ul {
    margin-top: 15px;
    list-style-type: none;
    display: flex;
    justify-content: flex-end; /*Right align the ENTIRE navbar*/
}
/*Style for each list item*/
nav li {
    margin: 0 15px;
}
/*Style for the links*/
nav a {
    color: var(--primary-blue);
    text-decoration: none;
    font-weight: bold;
    text-align: right; /*Align the text inside the link to the right */
}
/*Style for the hover affects*/
nav a:hover {
    text-decoration: underline;
    color:var(--white);
}

/*------------------------Home--------------------------*/

body {
    font-family: 'Afacad Flux', sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    margin: 0;
    padding: 20px;
}

.sharksafety {
    display: flex;
    justify-content: space-between; 
    gap: 20px;
    flex-wrap: wrap;
    margin: 20px;
}
.sharksafety .text {
    background-color: var(--primary-blue);
    color:var(--white);
    padding: 30px;
    box-sizing: border-box; 
    flex: 1; 
    min-width: 250px; 
    display: flex; 
    flex-direction: column;
}
.sharksafety h1 {
    font-size: 37px;
    margin-top: 10px;
    margin-bottom: 10px; 
}
.sharksafety .heroimage {
    width: 100%;
    height: auto;
    max-width: 600px;            /*limit image size*/
    text-align: center;          /* Center the image */
    flex: 2;   
    margin-top: 5px;
}
.dangerousspecies h2 {
    font-size: 27px;
    margin-top: 25px;
    margin-bottom: 10px;
}
.dangerousspecies {
    text-align: center;
}
figure {
    display: inline-block;
    margin: 30px;           
    text-align: center;     
}
figure img {
    width: 100%;            
    max-width: 400px;       
    height: auto;
    border-radius: 8px;
}
figcaption {
    font-size: 16px;
    font-weight: 600;
    color: var(--text-color);
    margin-top: 10px;       
    display: block;        
}
figcaption span {
    display: block;
    margin-top: 10px;
}
.sharkstories {
    display: flex;
    flex-direction: column;  /* Stack the content vertically */
    background-color: var(--light-blue);
    align-items: center;     /* Center the items horizontally */
    gap: 20px;
    padding: 20px;
}

.sharkstories h3 {
    color: var(--white);
    font-size: 36px;
    margin-top: 15px;
    margin-bottom: 5px;
}
.sharkstories p {
    font-size: 18px;
    color: var(--white);
    text-align: center;  /* Center text */
}
.social {
    display: flex;
    gap: 40px;            /* Space between icons */
    justify-content: center;  /* Center the icons horizontally */
    align-items: center;     /* Center the icons vertically */
}
.logo {
    width: 40px;         
    height: auto;
}

.why {
    display: flex;                  
    justify-content: space-between;      
    margin-top: 20px;           
}
.why-one {
    display: flex;                
    flex-direction: column;                          
    flex: 1; 
}
.why-two ul {
    background-color: var(--sage-green);
    padding: 15px;
    border-radius: 5px;
    list-style-type: none;
    margin-right: 20px;
}                     
.why h4 {
    font-size: 27px;
    margin-top: 20px;
    margin-bottom: 0px;
    text-align: center;
}
.why p {
    text-align: left;
    margin-left: 15px;
    margin-right: 10px;
}
.why img {
    width: 100%;
    height: auto;
    margin-top: 35px;
    margin-bottom: 10px;
}

.questions {
    max-width: 500px;
    height: 200px;
    margin: 0 auto;
    padding: 25px;
    background-color: var(--white);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 15px;
    margin-top: 15px;
}

h6 {
    text-align: center;
    color: var(--text-color);
    font-size: 27px;
    margin: 0;
}

form {
    display: flex;
    flex-wrap: wrap;    /* Allows wrapping for small screens */
    gap: 10px;          /* Adds space between input fields */
    justify-content: center;
}

label {
    font-size: 14px;
    color: var(--text-color);
    width: 100%;         /* Make labels take up full width on smaller screens */
    margin-bottom: 7px;
}
input {
    font-size: 14px;
    width: 75%;  
    box-sizing: border-box; 
}
button {
    padding: 10px 10px;
    font-size: 14px;
    background-color: var(--light-blue);
    color: var(--white);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 20%;
    margin-top: 5px;
}
button:hover {
    background-color: var(--primary-blue);
}

/*------------------------Dangerous-Species--------------------------*/

.species {
    display: flex;
    justify-content: space-between;    
    gap: 10px;
    flex-wrap: wrap;
    margin: 20px;
}
.species-header {
    margin-bottom: 10px;
    background-color: var(--primary-blue);
    color:var(--white);
    padding: 20px;
    box-sizing: border-box; 
    flex: 1;              
    min-width: 250px; 
    display: flex;         
    flex-direction: column;
}
.species-header h1 {
    font-size: 27px;
}
.species-image {
    display: flex;
    flex: 2;
    justify-content: center;
}
.greatwhites, .tigers, .bullsharks {
    padding: 15px;
    background-color: var(--white);
    color: var(--text-color);
    border-radius: 8px;
    margin-bottom: 15px;
}

.greatwhites h2 {
    font-size: 36px;
    width: 100%;
    text-align: center;
}
.gws-facts {
    display: flex;  
    flex-direction: column;  /* Stack the items vertically */
    gap: 5px;  
    width: 100%;
    text-align: left; 
    font-size: 16px;
}
.gws-facts-header {
    text-align: left;
    margin-bottom: 5px;
}
.gws-facts-content {
    display: flex;  /* Makes the list and the map sit side by side */
    justify-content: space-between;  /* Places the list on the left and map on the right */
    align-items: flex-start;  
    gap: 30px; 
    width: 100%;
    margin-top: 10px;
}
.gws-facts ul {
    list-style-type: none;
    padding-left: 0;
}
.gws-map {
    width: 200px;
    height: auto;
}
.gws-habitat {
    width: 100%; 
}


.tigers h3 {
    font-size: 36px;
    width: 100%;
    text-align: center;
}

.bullsharks h4 {
    font-size: 27px;
    width: 100%;
    text-align: center;
}
.encounter {
    background-color: var(--sage-green);
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 15px;
}
.encounter h5 {
    font-size: 27px;
    width: 100%;
    text-align: center;
    margin-top: 10px;
}
.references {
    background-color: var(--white);
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 15px;
}
/*------------------------Shark-Stories--------------------------*/
footer {
    background-color:var(--primary-blue);
    color:var(--white);
    padding: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
}
footer a {
    color: var(--white);
}
/*------------------------LARGE-CSS--------------------------*/
@media (max-width: 768px) {
    input {
        width: 100%;  /* On smaller screens, inputs take up full width */
    }
    button {
        width: 100%;
    }
}