* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    font-family: 'Arial', sans-serif;
    color: #333;
    background-color: #f0f0f0;
}

header {
    text-align: center;
    margin-bottom: 20px;
    background-color:rgb(41, 88, 139);
    color:white;
    padding: 20px;
}

nav {
    display: flex;
    justify-content: center;
}

nav ul {
    list-style-type: none;
    display: flex;
}

nav li {
    margin: 0 15px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}
nav a:hover {
    text-decoration: underline;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr; /*two equal columns*/
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;  /*center grid horizontally*/
    padding: 0 20px;
    margin-bottom: 20px;
    background-color: rgb(227, 227, 222);
}

main h2 {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
main h3 {
    text-align: center;
    margin-bottom: 10px;
}
footer {
    background-color:rgb(41, 88, 139);
    color:white;
    padding: 20px;
    display: flex;
    justify-content: center;
}