@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&display=swap');
.preconnect {
    font-family: "Afacad Flux", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "slnt" 0;
  }
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    font-family: 'Arial', sans-serif;
    color: #333;
    background-color: #f0f0f0;
}

header {
    text-align: center;
    background-color:rgb(41, 88, 139);
    color:white;
    padding: 15px;
    margin-bottom: 20px;
}

nav {
    display: flex;
    justify-content: center;
}

nav ul {
    margin-top: 15px;
    list-style-type: none;
    display: flex;
}

nav li {
    margin: 0 20px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}
nav a:hover {
    text-decoration: underline;
    color: rgb(250, 247, 46);
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /*three equal columns*/
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;  /*center grid horizontally*/
    padding: 0 20px;
    margin-bottom: 20px;
    background-color: rgb(227, 227, 222);
}
.card {
    grid-column-start: 1;
    grid-column-end: 3;
}

.image-text-container {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
}
.image-text-container img {
    margin-right: 20px;
    width: 150px;
    height: auto;
}
.image-text-container p {
    margin: 0;
}

.image-text-container-two {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.image-text-container-two img {
    margin-left: 20px;
    width: 150px;
    height: auto;
}
.image-text-container-two p {
    text-align: left;
}
main h2 {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
main h3 {
    text-align: center;
    margin-bottom: 0;
}
.resources h2 {
    text-align: center;
}

footer {
    background-color:rgb(41, 88, 139);
    color:rgb(251, 251, 251);
    padding: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
}
