@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&display=swap');
.preconnect {
    font-family: "Afacad Flux", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "slnt" 0;
  }
body {
    font-family: 'Afacad Flux', sans-serif;
    margin: 0;
    padding: 0;
    background-color:blanchedalmond;
    color:darkcyan;
}

header {
    background-color:darksalmon;
    padding: 10px;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color:rgb(0, 84, 84);
    text-decoration: none;
    font-weight: 600;
}

nav ul li a:hover {
    color: indianred;
}

main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

h1 {
    font-family: "Afacad Flux", sans-serif;
    font-size: 50px;
    text-align: center;
    color:rgb(0, 84, 84);
    margin-bottom: 20px;
}

.temple-gallery {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

figcaption {
    font-weight: 600;
    color:darkcyan;
    margin-top: 10px;
}

footer {
    background-color:darksalmon;
    color:rgb(0, 84, 84);
    padding: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
}
